@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}